@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: #f1f5f9;
  color: #0f172a;
}

/* 🔥 FIX SIDEBAR GHOST ISSUE */
aside::before,
aside::after {
  display: none !important;
}